1sj0_ligand.sd
1sj0_rdock.mol2
1sj0_rdock.prm

1sj0_rdock.as
1sj0_cavity.log

1sj0_rdock_out.log
1sj0_rdock_out.sd
1sj0_rdock_out_sorted.sd
rdock.rmsd

plants.rmsd
1sj0_ligand.mol2
results_plants
PLANTS.err

